<!-- use property names as the object is not known to post-info --> 

<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
      <!--format_url is a helper function that is receiving
      post_url as an argument-->
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
      <!--format_date is a helper function that is receiving
      created_at as an argument-->
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>